<footer class="footer bg-dark py-3 mt-auto fixed-bottom text-center">
    <div class="container">
        <span class="text-muted">menwacodes &copy; <%= new Date().getFullYear() %> </span>
    </div>
</footer>