<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3 w-100">
  <div class="container-fluid">
    <a class="navbar-brand" href="/recipes">RecipeSite</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-nav" aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-nav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/recipes">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recipes/new">Add Recipe</a>
        </li>
      </ul>
      <form class="d-flex" action="/search/ingredient" method="post">
        <input name="search"  class="form-control me-2" type="search" placeholder="Search by Ingredient" aria-label="Search">
        <button class="btn btn-outline-light">Search</button>
      </form>
    </div>
  </div>
</nav>