body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Recipe Styles */
.recipe-list {
  list-style: none;
}

.recipe-list-item {
  margin-bottom: 0.75em;
}

.recipe-show-subtitle {
  margin-top: 0.75em;
}

.recipe-show-list li {
  margin-bottom: 0.25em
}

main {
  margin-bottom: 5rem;
}

footer {
  margin-top: 3rem;
}