<% layout ('layouts/index')%>

<h1>Search Results</h1>

<% if (results.length) { %>
 <ul>
    <% for (let result of results) { %>
        <li><a href="/recipes/<%= result.recipe._id %>"><%= result.recipe.name %></a></li>
    <% } %>
</ul>
<% } else { %>
    <p>No results for your search term</p>
<% } %>


</body>
</html>