<% layout ('layouts/index')%>

<h1>Search Results</h1>

<% if (results.length) { %>
 <ul class="recipe-list">
    <% for (let result of results) { %>
        <li class="recipe-list-item"><a href="/recipes/<%= result.recipe._id %>"><%= result.recipe.name %></a></li>
    <% } %>
</ul>
<% } else { %>
    <p>No results for your search term</p>
<% } %>

