<% layout('layouts/index') %>

<h1>Recipes</h1>
<ul class="recipe-list">
    <% for (let recipe of recipes) { %>
    <li class="recipe-list-item">
        <a href="/recipes/<%= recipe._id %>"><%= recipe.name %></a>
    </li>
    <% } %>
</ul>

<% if (currentUser) { %>
    <a class="btn btn-outline-dark" href="/recipes/new">Add Recipe</a>
<% } %>
