<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
  </head>
  <body>

    <h1>Recipes</h1>
    <ul>
      <% for (let recipe of recipes) { %>
          <li><a href="/recipes/<%=recipe._id%>"><%= recipe.name %></a></li>
      <% } %>
    </ul>

    <a href="/recipes/new">Add Recipe</a>

  </body>
</html>
