<% layout('layouts/index')%>

<h1>Add a Recipe</h1>
<form action="/recipes" method="post">
    <div>
        <label for="name">Recipe Name</label>
        <input type="text" id="name" name="name" placeholder="recipe name">
    </div>
    <div>
        <label for="yield">Yield</label>
        <input type="text" id="yield" name="yield" placeholder="(4 servings, 1L, etc)">
    </div>
    <div>
        <label for="course">Course</label>
        <select name="course" id="course">
            <% for (let course of coursesArray) { %>
                <option value="<%= course; %>"> <%= course; %> </option>
            <% } %>
        </select>
    </div>
    <div>
        <label for="marinateTime">Marinate Time</label>
        <input type="number" id="marinateTime" name="marinateTime" placeholder="(mins)">
    </div>
    <div>
        <label for="prepTime">Prep Time</label>
        <input type="number" id="prepTime" name="prepTime" placeholder="(mins)">
    </div>
    <div>
        <label for="cookTime">Cook Time</label>
        <input type="number" id="cookTime" name="cookTime" placeholder="(mins)">
    </div>
    <div>
        <label for="riseTime">Rise Time</label>
        <input type="number" id="riseTime" name="riseTime" placeholder="(for baking, in mins)">
    </div>
    <div>
        <label for="activeTime">Active Time</label>
        <input type="number" id="activeTime" name="activeTime" placeholder="(mins)">
    </div>
    <div>
        <label for="from">From</label>
        <input type="text" id="from" name="from" placeholder="(website/cookbook)">
    </div>
    <div>
        <label for="fromURL">From URL</label>
        <input type="text" id="fromURL" name="fromURL" placeholder="(if website, this is URL)">
    </div>
    <div>
        <label for="attribution">Attribution</label>
        <input type="text" id="attribution" name="attribution" placeholder="(chef/author/blank if same as From)">
    </div>

    <div>
        <label for="prepBowls">Prep Bowls</label>
        <textarea name="prepBowls" id="prepBowls" cols="30" rows="10"></textarea>
    </div>
    <div>
        <label for="directions">Directions</label>
        <textarea name="directions" id="directions" cols="30" rows="10"></textarea>
    </div>
    <div>
        <label for="specialEquipment">Special Equipment</label>
        <textarea name="specialEquipment" id="specialEquipment" cols="30" rows="10"></textarea>
    </div>
    <div>
        <label for="notes">Notes</label>
        <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
    </div>

    <button>Add</button>
</form>
